@import './general-styles.css';

/*-----------------------------------*\
 #STYLE OF FORM ACCOUNT
\*-----------------------------------*/

.active-window > p {
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 3rem;
}

#form-account {
  text-align: center;
}

/* Style blocks with input */
.form-text {
  margin: 3.5rem 0;
  border-bottom: 2px solid;
  position: relative;
}

/* Style inputs */
.form-text > input {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5;
  color: rgb(var(--light-green));
}

/* avoid default autoffil appearance */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

/* Style label element */
.form-text > label {
  position: absolute;
  top: -20px;
  left: 5px;
  transition: 0.5s;
}

.form-text > input:placeholder-shown ~ label {
  top: -20%;
}

.form-text > input:focus ~ label {
  top: -20px;
}

/* Style error message */
.form-text__error {
  position: absolute;
  color: rgb(var(--bright-orange));
  font-size: 1rem;
  top: 35px;
  left: 5px;
}
