:root {
  --width: 120px;
  /* #24100d background
    #101010; background 
    #C96D5F border
    #500225 text
    https://colorscheme.ru/#0661TuGikw0w0 - adress of color scheme
    */
}

body {
  margin: 0;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: green;
  overflow: hidden;
  background: #101010;
}

.game-block {
  width: 1100px;
  height: 550px;
  background-color: white;
  background-image: url(../1507776.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  border: solid 3px #c9945f;
}

.relative {
  position: absolute;
  bottom: 30px;
  left: calc(50% - (var(--width) / 2));
  width: var(--width);
  overflow: hidden;
}

@keyframes run {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-100%);
  }
}

#enemy {
  /*  -webkit-filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black);
  filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black); */
  /*   cursor: pointer; */
  /*  animation: run 1s steps(11) infinite; */
  animation: run 1s steps(11) infinite;
  height: 122px;
  /*   animation-name: run; */
  /*  object-fit: cover;
  animation: 1s alternate infinite; */
}

/* @keyframes run {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
} */

.caption-bar {
  width: 400px;
  height: 80px;
  display: flex;
  margin: 0 auto;
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  align-items: center;
  border-radius: 0 0 10px 10px;
  background: #c9945f;
  color: #500225;
}

.caption-item {
  flex: 1 1 25%;
  text-align: center;
}

.congratulation {
  text-align: center;
  margin-top: 100px;
  user-select: none;
  font-size: 30px;

  color: #046c24;
  text-shadow: 0 0 5px #33b55a;
}

/* .clicker {
  position: absolute;
} */

.hidden {
  display: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: #fff;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 5;
} */
